@model MobileMVC.wcfService.Task

<!--implement as a popup form-->
<div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
@using (Html.BeginForm())
{
    <div class="editor-field">
        @Html.HiddenFor(model => model.CatId)
        @Html.EditorFor(model => model.Title)
        <input type="submit" value="Add" />
    </div>
}
</div>


