@model MobileMVC.Models.IconSelectModel

<fieldset data-role="collapsible" data-theme="d" data-inset="false" data-content-theme="d">
    <legend>Select Icon:</legend>
    <div data-role="controlgroup" id="radioGroup">
    @foreach (var icon in Model.Icons)
    {
        if (icon.Id == Model.SelectedId)
        {
            <input type="radio" name="radio-choice" id="radio-choice-@icon.Id" value="@icon.Id" checked="checked">
        }
        else
        {
            <input type="radio" name="radio-choice" id="radio-choice-@icon.Id" value="@icon.Id">
        }
        <label for="radio-choice-@icon.Id">@icon.Name
        <img align="right" height="20px" width="20px" src="~/Content/Images/icons/@icon.ImageUri"></label>
    }
    </div>
</fieldset>

<script>
    $(document).ready(function () {
        //if edit page then select the correct icon
        var catId = $("input:hidden[name='Id']").val()
        //create 
        if (catId == 0) {
            setIconId(1)
        }
        //update
        else {
            $("#addButton").attr('value', 'Save')
        }
        //does not work in iphone 
        /*
        //set IconId hidden input 
        $("input:radio[name='radio-choice']").change(function () {
            setIconId($("input:radio[name='radio-choice']:checked").val())
            alert("seticonId: " + $("input:radio[name='radio-choice']:checked").val());
            alert("catId: " + catId);
        });
        */
        $("#radioGroup").find("input[type='radio']").each(function () {
            $(this).change(function () {
                alert(this.value);
                setIconId(this.value);
            });
        });
    });

    function setIconId(value) {
        $("input[name='IconId']").val(value)
    }
</script>


