@model IEnumerable<MobileMVC.wcfService.Task>
@{
    ViewBag.Title = "Tasks";
}

<ul data-role="listview" data-divider-theme="b" data-inset="false">
    @foreach (var task in Model)
    {
        <li data-theme="c">
            <a href="#popupMenu" data-rel="popup" data-inline="true" data-transition="slideup" data-icon="gear" data-theme="e">@task.Title</a>
            <div data-role="popup" id="popupMenu" data-theme="d">
                <ul data-role="listview" data-inset="false" style="min-width:210px;" data-theme="d">
                    <li data-role="divider" data-theme="e">Actions:</li>
                    <li data-icon="check"><a href="#">Complete</a></li>
                    <li data-icon="info"><a href="#">Edit</a></li>
                    <li data-icon="delete"><a href="#">Remove</a></li>
                    <li data-icon="false"><a href="#ClosePopup">Cancel</a></li>
                </ul>
            </div>
        </li>
    }
</ul>

<script type="text/javascript">
    //close pupup when Cancel is clicked
    $(document).on('click', '#ClosePopup', function () {
        alet("aaa");
        setTimeout(function () {
            $("#popupMenu").popup("close");
        }, 1);
    });
</script>


