<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="WcfService" />
    <namespace name="WcfService.DataAccess" />
    <!--default container-->
    <container>
      <register type="WcfService.DataAccess.IRepository, WcfService" mapTo="WcfService.DataAccess.RedisRepository, WcfService" />
    </container>
    <container name="mock">
    </container>
  </unity>
</configuration>