<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    
    </behaviors>

    <services>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfService.JTodoRestService">
        <endpoint
                  binding = "webHttpBinding"
                  contract = "WcfService.JTodoRestService" behaviorConfiguration="web">
        </endpoint>
      </service>
      
      <service behaviorConfiguration="ServiceBehaviors"  name="WcfService.JTodoService" />

    </services>

  </system.serviceModel>
  
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
   
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
