@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Developed & maintained by Jerry.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Todo Ver 1.0", "Index", "Todo")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

<script type="text/javascript">
    function loginTest() {
        $.ajax({
            cache: false,
            type: "GET",
            async: false,
            dataType: "xml",
            url: "http://localhost:52913/TodoRestService.svc/login/test/test",
            success: function (data) {
                alert(data);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>